.chatInput {
  display: flex;
  margin: 20px 0;
  gap: 10px;
}

.input-chatInput {
  flex-grow: 1;
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
}

.btn-chatInput {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 13px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.dlt {
  background-color: rgb(192, 34, 34);
}

.loading-gif {
  height: 40px;
  margin: -10px -10px -10px 0px;
}