.chat-messages {
  margin-top: 10px;
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
}

.user-message,
.bot-message {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-message {
  justify-content: end;
}

.bot-message {
  justify-content: start;
}

.text-message {
  background-color: rgb(238, 238, 238);
  padding: 13px 20px;
  border-radius: 10px;
  max-width: 300px;
}

.time {
  font-size: 11px;
  color: rgb(129, 127, 127);
  margin-top: 3px;
}

.chat-messages-profile {
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}